html {
    height: 100%;
}

body {
    flex-direction: row;
    display: flex;
    background-color: #021a1b;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

button {
    margin: 5px
}

#app {
    flex: 2;
    margin-left: 8px;
}


.counter {
    border: 5px solid #436e83;
    margin: 5px 6px;
    border-radius: 5px;
    padding: 15px;
}
/* #planner {
} */

.timerView {
    display: flex;
    flex-direction: row;
}

.segment {
    margin-left: 8px;
}

#mannual {
    align-self: flex-end;
    width: 24px;
    flex-direction: row;
    display: flex;
    transition: 0.3s;
    height: 100%;
}

#pdf {
    border: 1px solid blue;
}

#pdf iframe {
    height: 100%;
    width: 100%;
}

#toggle {
    align-self: center;
    transition: 0.6s;
}

#hide {
    display: flex;
}

#timer-button {
    flex-direction: row;
}

#pause-button {
    display: none;
}

#timer {
    margin-bottom: 10px;
}

#mission {
    flex-direction: column;
    display: flex;
}

.MissionContainer {
    border: 1px solid;
    margin : 10px;
    background-color: #32d1a9;
    max-width: 80%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.Disabled {
    cursor: not-allowed;
    background-color: #90a3a2;
    margin-left: 60px;
    opacity: 0.5;
}

.react-switch {
    margin: 5px;
}