html {
    height: 100%;
}

body {
    flex-direction: row;
    display: flex;
    background-color: #021a1b;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    transition: 0.6s;

}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #021a1b; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(110, 255, 224); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(106, 208, 255); 
}

button {
    margin: 5px
}

#app {
    flex: 2;
    margin-left: 8px;
}


.counter {
    display: flex;
    flex-direction: column;
    border: 10px double #ff34aa;
    box-shadow:-4px 4px 2px 1px rgba(253, 121, 161, 0.938),inset -4px 4px 2px 1px rgba(253, 121, 161, 0.938);
    margin: 5px 6px 15px 6px;
    border-radius: 5px;
    padding: 15px;
    /* justify-content: center; */
    align-items: center;
}
/* #planner {
} */
 .textOne {
    color: rgb(207, 224, 218);
    font-family: Stencil Std, fantasy;
    font-size: 35px;
    text-shadow: -2px 2px #e624d5;
    font-style: italic;
    margin: 8px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;

}

.textTwo {
    color: rgb(255, 255, 255);
    font-family: Stencil Std, fantasy;
    /* font-size: 30px; */
    text-shadow: -1px 1px #00ffc8;
    margin: 8px;

    font-size: 2.2vw;    
    transition: 0.2s;

    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;

}

.missionHeader {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    resize: flex;
}

.switchMode {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 20px;
    align-items: center;
    /* align-self: flex-end; */
}

.semi {
    margin-right: 7px;
}

.react-icons {
    margin: 10px;
    color: #7db6d3;
    height: 50px;
    width: 50px;
}

#mannual {
    align-self: flex-end;
    width: 24px;
    flex-direction: row;
    display: flex;
    transition: 0.3s;
    height: 100%;
}

#pdf {
    border: 1px solid blue;
    transition: 0.6s;

}

#pdf iframe {
    height: 100%;
    width: 100%;
    transition: 0.6s;

}

#toggle {
    align-self: center;
    transition: 0.6s;
    background-color:rgb(110, 223, 148);
    border-radius: 10px;
}

#hide {
    display: flex;
}

#timer-button {
    flex-direction: row;
}

#pause-button {
    display: none;
}

#timer {
    margin-bottom: 10px;
}

#mission {
    flex-direction: column;
    display: flex;
}

.MissionContainer {
    border: 1px solid rgb(110, 223, 148);
    margin : 10px;
    /* background-color: #32d1a9; */
    max-width: 50%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.Disabled {
    cursor: not-allowed;
    background-color: #90a3a2;
    margin-left: 60px;
    opacity: 0.5;
}

.Finished {
    background-color: #04e48e;
}

.Score {
    align-self: flex-end;
    margin-bottom: 10px;
}

.react-switch {
    margin: 5px;
}

.timerView {
    display: flex;
    flex-direction: row;
}

.segment {
    margin-left: 8px;
}

.missionDetail {
    width: 60vw;
    height:25vh;
    align-self: center;
    border: 5px double rgba(252, 227, 90, 0.89);
    box-shadow:-4px 4px 2px 1px rgba(255, 182, 72, 0.938),inset -4px 4px 2px 1px rgba(255, 182, 72, 0.938);
    padding: 12px;
    border-radius: 5px;

    /* background-color: rgb(255, 254, 235); */
    display: flex;
    flex-direction: row;
}

.missionDetail p {
    color: rgb(229, 255, 187);
    font-family: Stencil Std, fantasy;
    /* font-size: 30px; */
    text-shadow: -1px 1px #857803;
    margin: 8px;
    margin-bottom: auto;


    font-size: 1.6vw;    
    transition: 0.2s;

    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;

}

.mission button {
    width: 10vw;
}

.mission {
    display: flex;
    flex-direction: column;
    border: 10px double #00ffd5;
    box-shadow:-4px 4px 2px 1px rgba(224, 246, 255, 0.938),inset -4px 4px 2px 1px rgba(224, 246, 255, 0.938);
    margin: 5px 6px 15px 6px;
    border-radius: 5px;
    padding: 15px;

}

.missionAll {
    /* display: inline; */
    flex: 4;
    margin-bottom: 15px;
    max-height: 22em;
    overflow-y: scroll;
    margin-right: 10px;
}

.missionView {
    display: flex;
    flex-direction: row;
}

.missionIcon {
    color: #0ada94;
    height: 50px;
    width: 50px;
}

.saveArea {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.saveText {
    color: rgb(255, 197, 238);
    font-family: Stencil Std, fantasy;
    /* font-size: 30px; */
    text-shadow: -1px 1px #ff0095;
    margin: 8px;
    margin-bottom: auto;


    font-size: 2.5vw;    
    transition: 0.2s;

    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.Score p {
    font-family: Stencil Std, fantasy;
    margin: 8px;
    margin-bottom: auto;


    font-size: 2.5vw;    
    transition: 0.2s;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.saveMain {
    flex: 1;
    display: flex;
    flex-direction: row;
    border-bottom: 8px double rgb(92, 143, 255);
    box-shadow:2px 0px 1px rgba(0, 183, 255, 0.938);

    padding-bottom: 8px;

}

.other {
    flex: 8;
    display: flex;
    flex-direction: row;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.head {
    flex: 1;
}

.data {
    flex: 6;
}

.container {
    width: 100%;
}

.info {
    flex: 6;
}

.action{
    border-left: 1px solid rgb(253, 171, 47);
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 12px;
}

.actionButton {
    flex: 1;
    align-self: stretch;
    width: auto;
    height: auto;
    margin: 8px;
}

.check {
    color: rgb(0, 255, 191);
}

.done {
    color :rgb(110, 223, 148);
}

.finish {
    color: rgb(21, 255, 91);
}

.not {
    color: rgb(238, 34, 34);
}

.start {
    color: rgb(255, 193, 206);
    text-shadow: -2px 2px #9c2e2e;
}

.mid {
    color: rgb(255, 224, 157);
    text-shadow: -2px 2px #773601;
}

.almost {
    color: rgb(224, 255, 167);
    text-shadow: -2px 2px #657700;
}

.end {
    color: rgb(149, 255, 181);
    text-shadow: -2px 2px #00643e;
}